/* src/components/FoodItem.css */
.food-item {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .food-item h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .food-item p {
    font-size: 14px;
    margin: 8px 0;
  }
  
  .counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    margin-top: 16px;
  }
  
  .counter button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .counter button:hover {
    background-color: #0056b3;
  }
  
  .counter span {
    font-size: 18px;
    font-weight: bold;
  }